<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Undangan Digital</title>
</head>
<body>
    <div class="judulwedding">
        <div class="judul">
            <h3>The Wedding Of</h3>
            <h1>Weni and Rudy</h1>
            <h4>20 . 06 . 2023</h4>
        </div>
    </div>
    <div class="judul">
        <h2>We are Getting Married</h2></div>
    <div class="foto">
        <div class="foto2">
            <img src="https://storage.wedew.id/uploads/public/638/36d/477/thumb_1975581_240_240_0_0_crop.jpg">
            <h3>Weni Meriska</h3>
            <p>First daughter of Mr. Rudy William and Mrs. Silvia Meriska</p>
        </div>
        <div class="foto2">
            <img src="https://storage.wedew.id/uploads/public/638/36d/477/thumb_1975581_240_240_0_0_crop.jpg">
            <h3>Rudy Salim</h3>
            <p>Second son of Mr. Johny Salim and Mrs. Fatma Rahayu</p>
        </div>
    </div>
    <div class="judul">
        <h2>Our Love Story</h2>
        <p>We first crossed paths during a competitive game of trivia at the local tavern.</p>
    </div>
    <div class="Story">
        <div class="Storya">
            <img src="https://storage.wedew.id/uploads/public/638/36d/477/thumb_1975581_240_240_0_0_crop.jpg">
            <p>After some cheeky back and forth banter, numbers were exchanged and a first date took place the very next day with dinner and a movie. It was only 4 weeks later that Weni packed her bags and moved in with Dewa, and their whirlwind romance began.</p>
        </div>
        <div class="Storyb">    
            <img src="https://storage.wedew.id/uploads/public/638/36d/477/thumb_1975581_240_240_0_0_crop.jpg">
            <p>5 years later, weve spent a 6-month stint in Queenstown, bought our very first home, and welcomed 2 mischievous kittens to our family. After travelling through New Zealand, Dewa finally popped the question and Weni said yes!</p>
        </div>    
    </div>
    <div class="judul">
        <h2>Event</h2>
    </div>
    <div class="tanggal">
        <h1>10 August 2023</h1>
        <h2>-- Holy Matrimony --</h2>
        <p class="date">07:30 - 09:00</p>
        <h4>Santa Maria Catholic Chruch</h4>
        <p>Jl. Ngagel Madya No.1, Baratajaya, Kec. Gubeng, Kota SBY</p>
    </div>
    <div class="judul">
        <h2>Greetings and Wishes</h2>
    </div>
    <div class="comments">
        <h4>Iqbal & Family</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolor nobis delectus, sequi est debitis veniam ex suscipit, rerum beatae perferendis ducimus esse fuga saepe corporis dolorum asperiores veritatis quaerat nesciunt quo maxime. Temporibus nisi dolorum eos voluptatibus incidunt eligendi quod est! Labore soluta eveniet iste sequi praesentium totam non, blanditiis adipisci fugiat odit aperiam natus. Aliquid expedita delectus necessitatibus?</p>
        <br>
        <h4>Sudono & Family</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, placeat. Perspiciatis, dolores minus repellendus, doloremque eius maiores illo non sint quaerat cumque voluptates maxime. Tenetur, ut natus dignissimos nihil, quasi, nobis deserunt nam beatae nostrum repellendus in ipsum eos ipsa officia quae nesciunt. Earum ut et possimus nesciunt, beatae laborum eius saepe reprehenderit non deserunt assumenda autem impedit cum illo!</p>
        <br>
        <h4>William and Friends</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet est illo odio molestiae facilis. Possimus aut architecto laborum quasi voluptatibus voluptates enim, delectus nam, commodi cupiditate est saepe distinctio corporis! Repellat tempora ducimus repudiandae quod nobis maiores quidem facere voluptate molestias aut ipsa earum rem voluptas facilis cum quos, vitae, quia officia beatae provident fugit? Omnis laudantium porro aspernatur temporibus.</p>
    </div>
</body>
</html>